//--------------- color code ---------------//

$dark-color: #04050A;
$dark1-color: #0B0D19;
$blue-light-color: #5A52FF;
$blue2-light-color: #564ECE;
$blue3-light-color: #8984DA;
$blue4-light-color: #7D74FF;
$blue5-light-color: #585fcf;
$blue6-light-color: #8379fc;
$blue8-light-color: #8781E0;
$white-color: #fff;
$gray-color: #ACACAC;
$gray2-color: #818181;
$gray3-color: #616161;
$gray5-color: #858585;
$gray6-color: #ababab;
$gray7-color: #C4C4C4;
$gray8-color: #3b3b42;
$gray12-color: #494E68;
$black-color: #000000;
$black3-color: #0a0c15;
$black8-color: #0B0D1A;
$black4-color: #1C1924;
$color-B2FFD6: #B2FFD6;

//--------------- Rgba color code ---------------//

$white2-color: rgba(255, 255, 255, 1);
$gray4-color: rgba(222, 217, 217, 0.58);
$gray9-color: rgba(196, 196, 196, 0.1);
$gray10-color: rgba(255, 255, 255, 0.5);
$gray11-color: rgba(133, 133, 133, 1);
$black2-color: rgba(0, 0, 0, 0.4);
$black5-color: rgba(255, 255, 255, 0);
$black6-color: rgba(0, 0, 0, 0.12);
$black7-color: rgba(0, 0, 0, 1);
$greenlight1-color:rgba(133, 255, 196, 1);
$bluelight-color:rgba(92, 198, 255, 1);
$par-color:rgba(188, 133, 255, 1);
$blue7-light-color: rgba(86, 78, 206, 1);